.workexperience-section {
    margin-top: 50px ;
}

.tech-skills {
    border-radius: 12px ;
}

.tech-skills p{
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}
.tech-skills p:hover {
    border: 2px yellow solid;
}
.date-class {
    color: black;
}
#dark .date-class {
    color: whitesmoke;
}